MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=zenvoy
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
GRAPH_PATH=app/data/delhi_walk.graphml
JWT_SECRET=your_random_secret_here_min_32_chars
